$color-text-primary: #000;
$color-text-invert: #fff;
$color-text-secondary: rgba($color-text-primary, 0.8);
$color-text-other: rgba($color-text-primary, 0.5);

$color-btn-add: #038001;
$color-btn-edit: #011680;
$color-btn-del: #920303;

$color-main: #3cc;
$color-main-dark: #009999;
$color-main-light: #5ccccc;
$color-accent: #006363;
$color-white: #fff;

$margin-s: 12px;
$margin-xs: $margin-s / 2;
$margin-m: $margin-s * 2;
$margin-l: $margin-s * 3;
