@import '../../helpers/variables.scss';

.todo {
  display: flex;
  align-items: center;

  font-size: 16px;

  &.js-active {
    .todo__paragraph {
      text-decoration: line-through;
      color: $color-text-other;
    }
  }

  &__wrapper-checkbox {
    flex-shrink: 0;

    position: relative;

    padding: 0;
    margin: 0 $margin-xs 0 0;
    width: 1em;
    height: 1em;

    cursor: pointer;
  }

  &__checkbox {
    position: absolute;

    opacity: 0;

    height: 0;
    width: 0;

    margin: 0;

    cursor: pointer;

    &:checked ~ .todo__checkmark {
      background-color: $color-accent;

      &:after {
        display: block;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 1em;
    width: 1em;

    background-color: $color-white;

    &:after {
      content: '';

      display: none;

      position: absolute;
      left: .4em;
      top: .1em;

      width: .2em;
      height: .45em;

      border: solid $color-white;

      border-width: 0 .1em .1em 0;
      transform: rotate(45deg);
    }
  }

  &__paragraph {
    // pointer-events: none;

    flex-grow: 1;

    border: none;
    margin: 0 $margin-xs 0 0;
    padding: .25em;

    background: rgba(#000, 0);

  }

  &__btn {
    flex-shrink: 0;

    margin-left: $margin-xs;

    &:first-of-type {
      margin-left: auto;
    }
  }
}
